<html>
<head>
  <title>CineRank</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover.css" />
</head>
<body>
  <div id="app" class="container">
    <h1 class="title is-1">CineRank</h1>
    <div class="columns">
      <div class="column">&nbsp;</div>
      <div class="column" v-for="(movie, idx) in m">
        <img v-bind:src="image(idx)" v-on:click="pick(idx)" class="hvr-grow movie-select" /><br />
        <h2 class="subtitle">{{movie.title}}</h2><br /><br /><br />
        <a class="button is-primary is-outlined hvr-fade" href="#">
          <span class="icon">
            <i class="fa fa-film"></i>
          </span>
          <span v-on:click="newMovie(idx)">I Haven't Seen This</span>
        </a>
      </div>
      <div class="column">&nbsp;</div>
    </div>
    <a class="button is-primary is-outlined hvr-fade is-centered" href="#">
      <span class="icon">
        <i class="fa fa-film"></i>
      </span>
      <span v-on:click="newMovies">I Haven't Seen Either</span>
    </a>
    <div v-if="winners.length > 0">
      <h2 class="title">Winners</h2>
      <div v-for="winner in winners">
        {{winner.title}}
      </div>
    </div>
  </div>
  <style>
    .movie-select{
      z-index:9999;
    }
  </style>
</body>

</html>
